.wrapper {
  display: flex;
  align-items: center;
}
.header {
    margin-left: 20px;
  margin-right: 20px;
}
.btn {
  
  background-color: transparent;
  color: black;
  border: 3px solid black;
  padding: 5px 9px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  border-radius: 10px;
  transition: all linear 250ms;
  &:hover {
    background-color: lightgrey;
    color: #fff;
  }
}