.li{
    font-weight: 700;
}

.ul{
    padding-left: 20px;
}
.button{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
}

.button:hover,:focus{
    background-color: whitesmoke;
}